.mainChat {
  display: flex;

}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 80%;
  background-color: transparent;
}

.chat-page {
  display: flex;
  height: 110vh;
  background-image: url(../../assets/fondochat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap;

}

.chat {
  background-color: transparent;
  width: 100%;
  height: 90vh;
  border-radius: 15px;

  overflow-y: auto;
  padding: 10px;
}

.chat .userMessage {
  text-align: right;
  align-self: flex-end;
  /* Cambiado a flex-end */
  background-color: #f2a444;
  color: #222222;
  padding: 10px;
  border-radius: 15px 15px 0 15px;
  margin-bottom: 10px;
}

.chat .petronappMessage {
  align-self: flex-start;
  background-color: #fff;
  color: #222222;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  margin-bottom: 10px;
  max-width: 80%;
}

.oldChats {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#f2b33d, #bf755a);
  width: 20%;
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.oldChats div:hover {
  background-color: #bf755a;
}

.oldChats div {
  border: solid 2px #222222;
  margin: 5px;
  padding: 5px;
  width: 95%;
}

.inputContainer {
  display: flex;
  width: 60%;
  margin-bottom: 100px;

}

.input2 {
  background: #f2f2f2;
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba(171, 25, 25, 0.1);
  padding: 10px;

}
.chatContainer.menuOpen {
  width:60%; /* Ajusta el tamaño según tu necesidad */
  /* Agrega otros estilos necesarios cuando el menú está abierto */
}

@media (max-width: 920px){
  .chatContainer{
   width: 80%;
  }
}
@media (max-width: 800px){
  .chatContainer{
   width: 70%;
  }
}
@media (max-width: 600px){
  .chatContainer{
   width: 85%;
  }
}
@media (max-width: 540px){
  .chat .petronappMessage {
   
    max-width: 100%;
    font-size: 15px;
  }
 
  
}

@media (max-width: 467px){
  .chatContainer{
   width: 75%;
  }

}
@media (max-width: 300px){
  .chatContainer.menuOpen {
    width:50%; 
  }
  .chat .petronappMessage  {
   
    
    font-size: 12px;
  }
.userMessage{
  font-size: 12px;
}
}
@media (max-width: 285px){
  .chatContainer{
    width:60%; 
  }

}
@media (max-width: 240px){
  .chatContainer.menuOpen {
    width:40%; 
  }

}