.mainProfile{
    height: 120vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    background-color: aqua;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
.profileContainer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.userProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optionsContainer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .option {
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .selected {
    background-color: #ccc;
  }

  
  .buttonSave {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
    background-color: transparent;
  
    border: 1px solid #F2F2F2;
    color: #222222;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    font-size: 15px;
    font-weight: 900;
  
  }
  
  .buttonSave:hover {
    background-color: #222222;
    color: #F2F2F2;
  }

  .preferenciasContainer{
    display: flex;
    justify-content: space-between;
    ;
    width: 100%;
  }