@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.head {
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/fondoMain.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  font-family: 'Sansita Swashed', cursive;
}

.navQuien {
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/bg_naranja.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;

  color: #F2F2F2;
}

.fondoChat {
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/fondochat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;

  color: #F2F2F2;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: ;
}

.logoNav {
  width: 100px;
  height: auto;
  margin-top: 19px;
  margin-left: 15px;
}

.navItemQuien {
  color: #f2f2f2;
}

.nav_items1 h2 {
  margin: 10px;
  list-style: none;
  font-size: 25px;
  box-sizing: border-box;
  padding: 0 5px;
  color: #F2A444;
}

.nav_items1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 20px;

}

.nav_items1 h2 {
  margin: 15px;
  list-style: none;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 5px;
  color: #F2A444;
  flex-wrap: wrap;
}

.nav_toggle1 {
  display: none;
}


.modal,
.overlay {
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.modal-content {
  position: relative;
  top: 50%;
  left: 44%;
  color: #F2F2F2;
  transform: translate(150%, 50%);
  line-height: 1.4;
  background: rgba(8, 8, 8, 0.897);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 300px;
  min-width: 200px;
}


.clickable-area {
  display: inline-block;
  width: 20px; /* Ajusta el ancho según tus necesidades */
  height: 20px; /* Ajusta la altura según tus necesidades */
  cursor: pointer;
}

@media (max-width: 768px) {

  .active {
    background-color:  #ad7f2a;
    ;
  }

  .inactive {
    color: yellow;
  }

  .head {
    font-family: 'Poppins', sans-serif;
  }

  .nav_items1 h2:hover {
    transition: all 0.3s ease;
   font-size: 22px;
    padding-left: 18px;
  }

  .nav_items1.open {
    transform: translateY(0);
    opacity: 1;
  }

  .nav_toggle1 {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
    margin-top: 30px;
  }

  .nav_toggle1 span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .nav_toggle1.open>span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .nav_toggle1.open>span:nth-child(2) {
    display: none;
  }

  .nav_toggle1.open>span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .nav_items1 {
    position: absolute;
   
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background: #060302;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-100%);

    margin-top: 0;
    padding: 0px;
    


  }

  .user-container {
    background: #222222;
    width: 100%;
  
    padding-top: 20px;
  }

  .nav_items1.open {
    height: auto;
  }

  .nav_items1 a {
    border: solid 1px #8f6330;
    width: 100%;
  }

  .nav_items1 h2 {
    margin: 15px;
    list-style: none;
    font-size: 20px;
    
    color: #d2d2d2;
    flex-wrap: wrap;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

  }
 

  .nav_items1.open h2 {
    transform: translateY(0);
    opacity: 1;
  }

  .navItemQuien {
    color: #aa0707;
  }
}


@media (max-width: 400px) {
  .logoNav {
    width: 75px;
  }

  .nav_items1 h2 {
    font-size: 15px;

  }
}