.mainContainer{
  background: linear-gradient(#f2b33d, #bf755a);
  height: 90vh;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.textImage{
    display: flex;
    width: 65%;
}
.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #f2b33d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #bf755a;
  }
  
 .button:focus {
    outline: none;
  }
 
  
  
  
  
  
  