.head{
    display: flex;
    justify-content: space-between;
    background-color: #F2A444;
    width: 100%;
    height: 120px;
    background: linear-gradient( #bf755a,#f2b33d);
}
.title{
    text-decoration: none;
    color: white;
    
    font-weight: bold;
}
.androideImg{
    width: 200px;
    height: 120px;

}