* {
	box-sizing: border-box;
}

.registerForm {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	height: 110vh;
}

body {
	background-color: #f2f2f2;
}

.imgLogin {
	width: 100%;
	margin-top: 40px;
}

hgroup {
	text-align: center;
	margin-top: 2em;
}

h1,
h3 {
	font-weight: 300;
}

h3:hover {
	font-weight: 800;
}

h1 {
	color: #636363;
}

h3 {
	color: #4a89dc;
}

h4 {
	color: #222222;

}

form {
	width: 40%;
	display: flex;
	flex-direction: column;
	padding: 0em 2em 2em 2em;
	border: solid 1px #222222;
	border-radius: 15px;
	background-color: #222222;
	margin: 2%;
	justify-content: center;
	align-items: center;
}

.group {
	position: relative;
	margin-bottom: 45px;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #0d0d0d;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus {
	outline: none;
}

.logoRegister {
	background-image: url("../../assets/login.svg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 130%;
	background-attachment: local;
	width: 58%;
	height: 110vh;

	margin-bottom: 30px;
}

/* Label */

label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus~label,
input.used~label {
	top: -20px;
	transform: scale(.75);
	left: -2px;
	/* font-size: 14px; */
	color: #ffffffd9;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #4a89dc;
	transition: all 0.2s ease;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
	width: 50%;
}


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

h1 {
	color: #f2f2f2;
}

/* active */

input:focus~.highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from {}

	to {
		width: 0;
		background: transparent;
	}
}


/* Button */

.button2 {
	position: relative;
	display: inline-block;
	padding: 12px 24px;
	margin: .3em 0 1em 0;
	width: 100%;
	vertical-align: middle;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	letter-spacing: 1px;
	background: transparent;
	border: 0;
	cursor: pointer;
	transition: all 0.15s ease;
	text-decoration-line: none;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	height: 76px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:focus {
	outline: 0;
}


/* Button modifiers */

.buttonBlue {
	background: #222222;
	border: 1px solid #FFFFFF;
	box-shadow: 4px 4px 0px 0px #F2B33D;
border-radius: 15px;

}

.buttonBlue:hover {
	background: #f2f2f2;
	color: #222222;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: #9E9E9E;
	margin-top: 30px;
	margin-bottom: 30px;
  }
/* Ripples container */

.ripples {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent;
	text-decoration: none;

}


/* Ripples circle */

.ripplesCircle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
	animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	100% {
		width: 200%;
		padding-bottom: 200%;
		opacity: 0;
	}
}

@media (max-width: 1050px) {
	.registerForm {
		height: 120vh;
	}
}

@media (max-width:950px) {
	.registerForm {
		height: 130vh;
	}
}

@media (max-width: 850px) {


	.registerForm {
		height: 140vh;
	}
}

@media (max-width: 670px) {
	.registerForm {
		flex-direction: column;
		height: auto;
	}

	form {
		width: 90%;



	}

}

@media (max-width: 400px) {
	form {
		width: 100%;



	}

	h1 {
		font-size: 25px;
	}
}

@media (max-width: 330px) {
	form {
		width: 100%;



	}
}

@media(max-width: 680px) {
	.logoRegister {
		margin: 0;
		width: 100%;
	}
}

@media(max-width: 680px) {
	.logoRegister {
		margin: 0;
		width: 100%;
		height: 80vh;
		background-position: center;
		background-size: 100%;
	}
}

@media(max-width: 540px) {
	.logoRegister {
		height: 67vh;
	}
}

@media(max-width: 400px) {}

@media(max-width: 460px) {
	.logoRegister {
		height: 56vh;
	}
	.button2{
		font-size: 12px;
	}
}

@media(max-width: 420px) {
	.logoRegister {
		height: 52vh;
	}
}

@media(max-width: 380px) {
	.logoRegister {
		height: 46vh;

	}
}

@media(max-width: 330px) {

	.logoRegister {
		height: 40vh;
	}
}

@media(max-width: 300px) {
	.logoRegister {
		height: 37vh;
	}
}

@media(max-width: 280px) {
	.logoRegister {
		height: 34vh;
	}
}

@media(max-width: 260px) {
	.logoRegister {
		height: 31vh;
	}
}