@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.quienContainer {

    display: flex;
    height: 210vh;
    flex-direction: column;
    background-color: #222222;
}

.background1 {
    margin-top: 20px;
    /* background-image: url("../../assets/bg_naranja.png"); */
    background-color: #222222;
    height: 105vh;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.quienes {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 50%;
    font-family: 'Sansita Swashed', cursive;
    color: #f2f2f2;
}

.quienes h2 {
    font-size: 40px;
    font-weight: 900;
    align-self: flex-start;
    margin-left: 70px;
}

.quienes p {
    width: 80%;
    font-size: 19px;
}

.iconosContainer {
    display: flex;
    justify-content: center;
    /* Agregado */



}



.icono {
    width: 200px;
    border-radius: 15px;

    padding: 0;


}

.icono:hover {
    animation: shake 0.4s;
    animation-iteration-count: 3s;

}



@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.imagenBackground1 {

    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    flex-wrap: wrap;
    display: flex;
}

.background2 {
    background-color: #F2F2F2;
    height: 105vh;
    width: 100%;
    display: flex;

}

.mision {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;

    font-family: 'Sansita Swashed', cursive;
}

.mision h2 {
    align-self: flex-start;
    margin-left: 70px;
}

.mision p {
    width: 80%;
    font-size: 19px;
}

.imagenBackground2 {
    display: flex;

    width: 40%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    /* Agregado */
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}

@media(max-width: 980px) {
    .quienContainer {
        height: 220vh;
    }

    .background1 {
        height: 110vh;
    }

    .background2 {
        height: 110vh;
    }
}

@media(max-width: 890px) {
    .quienContainer {
        height: 240vh;
    }

    .background1 {
        height: 120vh;
    }

    .background2 {
        height: 120vh;
    }
}

@media(max-width: 800px) {
    .quienContainer {
        height: 380vh;
    }

    .background1 {
        display: flex;
        flex-direction: column-reverse;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }

    .quienes {
        width: 100%;
        /* Modificación */
        justify-content: center;
        text-align: center;
    }

    .imagenBackground1 {
        justify-content: center;
        text-align: center;
        width: 100%;
        /* Modificación */
    }

    .background2 {
        display: flex;
        flex-direction: column-reverse;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }

    .mision {
        width: 100%;
        /* Modificación */
        justify-content: center;
        text-align: center;
        margin-top: 0;
    }

    .imagenBackground2 {
        width: 50%;
        justify-content: center;
        text-align: center;

    }

}

@media(max-width: 770px) {
    .quienContainer {
        height: 300vh;
    }


}

@media(max-width: 745px) {
    .quienContainer {
        height: 300vh;
    }

    .background1 {
        height: 200vh;
    }

    .background2 {
        height: 130vh;
    }

    .quienes h2 {

        font-weight: 900;
        align-self: center;
        margin-left: 0;
    }

    .mision h2 {

        font-weight: 900;
        align-self: center;
        margin-left: 0;
    }


}

@media(max-width: 410px) {
    .icono {
        width: 150px;
    }

    .quienes h2 {

        font-size: 27px;
    }

    .quienes p {

        font-size: 15px;
    }

    .mision p {

        font-size: 15px;
    }

    .quienContainer {
        height: 250vh;
    }


}

@media(max-width: 300px) {
    .icono {
        width: 110px;
    }


}