.accordionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   width: 100%;
    align-self: center;
  

}

.expendable-button {
    background-color: transparent;
    color: var(--gh-blue-5);
    gap: 8px;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    width: 2px;
    margin-right: 10px;


}

.main-title {

    font-weight: 500;
}

.main-title-underline {
    width: 320px;

    height: 0.15rem;
   
    margin-bottom: 40px;
}

.accordionContainer1 {
    width: 70%;
    align-self: center;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
  
    

}

.accordion-container {

    align-items: center;
    align-content: center;
    border: solid 1px #0D0D0D;
    font-size: 20px;


}

.underline {
    width: 100%;
    height: 0.15rem;
    background: var(--gh-blue-2);
    margin: 20px auto;
}

.column-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding-left: 20px;
    color: #0D0D0D;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 1vh;


}

.column-container:hover {
    background-color: var(--gh-blue-1);
    width: 100%;
}

.text-container {
    color: #0D0D0D;
    font-family: 'Poppins', sans-serif;
    max-height: 350px;
    opacity: 1;
    animation-name: textanimate;
    animation-duration: 1s;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@keyframes textanimate {
    0% {
        opacity: 0;
        max-height: 15px;
    }

    100% {
        opacity: 1;
        max-height: 350px;
    }
}